<div class="row">
    <div class="col-md-12 mb-30">
        <div class="box">
            <div class="box-head">
                <h4 class="title">ویرایش پست</h4>
            </div>
            <div class="box-body">
                <div class="row mbn-20">
                    <form action="/admin/posts/update" class="col-lg-6 col-12" method="post">
                        <div class=" mb-20">
                            {{#if errorResult}}
                            {{#each errorResult}}
                            <div class="alert alert-danger" role="alert">
                                {{this}}
                            </div>
                            {{/each}}
                            {{/if}}
                            <div class="row mbn-15">
                                <div class="col-12 mb-30">
                                    <input name="title" type="text" placeholder="عنوان مطلب" class="w-50" value="{{post.title}}">
                                </div>
                                <div class="col-12 mb-30">
                                    <input name="slug" type="text" placeholder="نامک مطلب" class="w-50" value="{{post.slug}}">
                                </div>
                                <div class="col-12 mb-30">
                                    <textarea name="content" type="text" placeholder="محتوی مطلب" class="w-100"
                                        rows="5">{{post.content}}</textarea>
                                </div>
                                <div class="col-12 mb-30">
                                    <select name="author_id" class="form-controll w-25">
                                        <option value="0">نویسنده‌ها</option>
                                        {{#each users}}
                                        <option value={{this.id}}>{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-12 mb-30">
                                    <h6 class="mb-15">وضعیت مطلب:</h6>
                                    <label><input type="radio" name="status" value="0" checked>پیش‌نویس</label>
                                    <label><input type="radio" name="status" value="1">در حال بازنویسی</label>
                                    <label><input type="radio" name="status" value="2">منتشر شده</label>
                                </div>
                                <div class="col-12 mb-30">
                                    <button class="btn btn-primary">ذخیره</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>